body {
	background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: 'Spicy Rise', cursive;
	
}

h1{color: rgb(46, 173, 231); }
.h2{color: rgb(12, 141, 7);}
.h3{color: rgb(243, 127, 19);}
h4{color: rgb(124, 10, 124);}

#willy{background-color: rgb(243, 127, 19);}